<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.BankAccountDao">
    <update id="updateOne" parameterType="BankAccountPO">
        update BankAccount
        <set>
            <if test = "name != null">`name` = #{name}, </if>
        </set>
        where id = #{id}
    </update>

    <!-- 类名一定要完整，如果parameterType后面跟的是BankAccountVO的话会报错-->
    <!-- 另外delete语句可以不标参数-->
    <insert id="insertBankAccount" parameterType="com.nju.edu.erp.model.po.BankAccountPO" useGeneratedKeys="true" keyProperty="id">
        insert into BankAccount(id,name,remaining_sum)
        values (#{id},#{name},#{remaining_sum})
    </insert>

    <delete id="deleteBankAccount" parameterType="com.nju.edu.erp.model.po.BankAccountPO">
        delete from BankAccount where id = #{id}
    </delete>

    <select id="findOneByName" resultType="com.nju.edu.erp.model.po.BankAccountPO">
        select * from BankAccount where name=#{name}
    </select>

    <select id="findAll" resultMap="BankAccountPO">
        select * from BankAccount
    </select>

    <resultMap id="BankAccountPO" type="com.nju.edu.erp.model.po.BankAccountPO">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="remaining_sum" property="remaining_sum"></result>
    </resultMap>

</mapper>