<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.PaymentDao">

    <select id="getLatest" resultMap="PaymentPO">
        select * from payment_sheet order by id desc limit 0,1 ;
    </select>

    <insert id="save" parameterType="PaymentPO">
        insert into payment_sheet (id, supplier_id, operator, total_amount, state, create_time)
        values (#{id},#{supplier},#{operator},#{TotalAmount},#{state}, #{createTime})
    </insert>

    <select id="findAll" resultType="PaymentPO">
        select * from payment_sheet;
    </select>

    <select id="findAllByState" resultType="PaymentPO">
        select * from payment_sheet where state = #{state}
    </select>

    <update id="updateState">
        update payment_sheet
        set state = #{state}
        where id = #{sheetId}
    </update>

    <update id="updateStateV2">
        update payment_sheet
        set state = #{state}
        where id = #{sheetId} and state = #{prevState}
    </update>

    <select id="findSheetById" resultType="PaymentPO">
        select * from payment_sheet where id=#{sheetId}
    </select>

    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id">
        insert into payment_sheet_content (id, sheet_id, bank_account_id, amount, remark) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.sheetId},#{item.bankAccountId},#{item.amount},#{item.remark})
        </foreach>
    </insert>

    <select id="findContentBySheetId" resultType="com.nju.edu.erp.model.po.PaymentContentPO">
        select * from payment_sheet_content where id = #{sheetId}
    </select>

    <resultMap id="PaymentPO" type="com.nju.edu.erp.model.po.PaymentPO">
        <id column="id" property="id"></id>
        <result column="supplier_id" property="supplier"></result>
        <result column="operator" property="operator"></result>
        <result column="total_amount" property="TotalAmount"></result>
        <result column="state" property="state"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>

</mapper>