<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nju.edu.erp.dao.ReceiptDao">

    <select id="getLatest" resultMap="ReceiptPO">
        select * from receipt_sheet order by id desc limit 0,1 ;
    </select>

    <insert id="save" parameterType="ReceiptPO">
        insert into receipt_sheet (id, supplier_id, operator, total_amount, state, create_time)
        values (#{id},#{supplier},#{operator},#{TotalAmount},#{state}, #{createTime})
    </insert>

    <select id="findAll" resultMap="ReceiptPO">
        select * from receipt_sheet;
    </select>

    <select id="findAllByState" resultMap="ReceiptPO">
        select * from receipt_sheet where state = #{state}
    </select>

    <update id="updateState">
        update receipt_sheet
        set state = #{state}
        where id = #{sheetId}
    </update>

    <update id="updateStateV2">
        update receipt_sheet
        set state = #{state}
        where id = #{sheetId} and state = #{prevState}
    </update>

    <select id="findSheetById" resultMap="ReceiptPO">
        select * from receipt_sheet where id=#{sheetId}
    </select>

    <insert id="saveBatch" useGeneratedKeys="true" keyProperty="id">
        insert into receipt_sheet_content (id, sheet_id, bank_account_id, amount, remark) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.sheetId},#{item.bankAccountId},#{item.amount},#{item.remark})
        </foreach>
    </insert>

    <select id="findContentBySheetId" resultMap="ReceiptContentPO">
        select * from receipt_sheet_content where sheet_id = #{sheetId}
    </select>

    <resultMap id="ReceiptPO" type="com.nju.edu.erp.model.po.ReceiptPO">
        <id column="id" property="id"></id>
        <result column="supplier_id" property="supplier"></result>
        <result column="operator" property="operator"></result>
        <result column="total_amount" property="TotalAmount"></result>
        <result column="state" property="state"></result>
        <result column="create_time" property="createTime"></result>
    </resultMap>

    <resultMap id="ReceiptContentPO" type="com.nju.edu.erp.model.po.ReceiptContentPO">
        <id column="id" property="id"></id>
        <result column="sheet_id" property="sheetId"></result>
        <result column="bank_account_id" property="bankAccountId"></result>
        <result column="amount" property="amount"></result>
        <result column="remark" property="remark"></result>
    </resultMap>
</mapper>